<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <!-- <meta name="format-detection" content="telephone=no" /> -->
    <!-- <meta name="msapplication-tap-highlight" content="no" /> -->
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" /> -->
    <title>Hello World</title>
  </head>

  <body style="margin: 0px">
    <div id="root"></div>
    <script>
      // body読み込み時に一度だけbodyサイズを設定
      document.body.onload = () => {
        document.body.style.minHeight = window.innerHeight + 'px';
      };

      // リサイズを停止して500ms後にbodyサイズを設定
      let timeoutId;
      window.addEventListener('resize', () => {
        clearTimeout(timeoutId);

        timeoutId = setTimeout(() => {
          document.body.style.minHeight = window.innerHeight + 'px';
        }, 500);
      });
    </script>
  </body>
</html>
